.App {
  background: red;
  // 头部
  .header {
    background-color: #282c34;
    height: 72px;
    display: flex;
    color: white;

    .logo {
      width: 72px;
      height: 72px;
      pointer-events: none;
      animation: App-logo-spin infinite 20s linear;
    }   

    .nav {
      // background: red;
      display: flex;
      align-items: center;
      button {
        margin: 20px;
      }
    }

  }
  // 主题
  .main {
    height: calc(100vh - 72px);
    background: #eee;
  }
 

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
 


